:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
  --font-size: 7rem;
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

@font-face {
  font-family: "retro-gaming";
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

/*  Bubble Shape Element          */

.bubble_speech_bg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 20rem;

  padding-left: 5%;
  padding-bottom: 5rem;

  height: 35rem;
  width: 100%;
  /* background-color: rgb(255, 248, 248); */

  background-image: url(/src/images/Speech_bubble_white.png);
  background-repeat: no-repeat;
  background-size: 100%;

  /* background-color: cornsilk; */
  /* background-color: rgb(225, 0, 146); */
}

/* Animation typing text */
.type_effect {
  font-family: retro-gaming, Courier, monospace;
  position: relative;
  font-size: var(--font-size);
  width: max-content;
  background: var(--bg-color);

  /** to center the typing text  and filling the gap of the background*/
  /* margin-bottom: 8%;
  margin-left: 1%;
  padding: 3rem; */
}

.type_effect::before,
.type_effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type_effect::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.type_effect::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: rgba(0, 0, 0, 0.72);

  &:hover,
  &:focus {
    color: teal;
  }
}
