:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "retro-gaming";
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

.bubble_speech_bg {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 100px;
  width: 350px;
  /* background-color: red; */
  background-image: url(/src/images/speech-bubble.png);
  background-repeat: no-repeat;
  background-size: 100%;

  /* background-color: rgb(225, 0, 146); */
}

.continue-btn {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  font-family: "retro-gaming";
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

/* Animation typing text */
.type_effect {
  font-family: retro-gaming, Courier, monospace;
  position: relative;
  font-size: 1.3rem;
  width: max-content;
  background: var(--bg-color);
  /* to center the typing text */
  margin-bottom: 8%;
  margin-left: 5%;
}

.type_effect::before,
.type_effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type_effect::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.type_effect::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: rgba(0, 0, 0, 0.72);

  &:hover,
  &:focus {
    color: teal;
  }
}
