@font-face {
  font-family: "Press Start 2p";
}
.plus-minus--buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100vw;
}

/* Grid the buttons */
.plus-grid {
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: end;
}

.minus-grid {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: start;
}

/*! Plus Minus Btns */
.video-game-button {
  text-shadow: 1px 1px pink, -1px -1px maroon;
  font-size: 15rem;
  border-radius: 100%;
  font-family: "Press Start 2p";
  line-height: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 20em;
  background-color: red;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  color: red;
  margin: 5px;
  background-color: red;
  background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: -webkit-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  cursor: pointer;
  padding-left: 5px;
}

.start-btn {
  font-size: 30pt;
  font-family: "Press Start 2p";
  text-align: center;
  display: inline-block;
  width: 30rem;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
