/*! READY TO USE, waiting for routing*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'retro-gaming';
}

@font-face {
  font-family: 'retro-gaming';
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

.page1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left bottom, #ffffff00, rgba(0, 0, 0, 0.3)),
    url(/src/images/Login_image_wide.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.frame {
  gap: 5px;
  min-width: 70rem;
  height: 50rem;
  min-height: 50rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  box-sizing: border-box;
  background: rgba(236, 240, 243, 0.184);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 30px white;
  position: relative;
}

.frame > .bubble_speech_bg {
  width: 100%;
  height: 20rem;

  background: url(/src/images/login_bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  /* background-color: aqua; */
}

.bubble_speech_bg > .title {
  font-size: 3.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form-input {
  text-align: left;

  /* background: #ecf0f3;
  padding-left: 20px;*/
  width: 50rem;
  height: 5rem;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.5rem 2rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

input.form-input {
  font-size: 2.5rem;
}

/*---------- Buttons --------*/

.submit-btn {
  font-family: 'retro-gaming';
  font-size: 2rem;

  width: 20rem;
  height: 5rem;

  cursor: pointer;
  transition: 0.5s;

  font-size: 2rem;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.submit-btn:last-child {
  margin: 0;
}

.login.submit-btn:hover {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  background: #f7a8d1;
  box-shadow: 1rem 0.4rem 0 rgb(0, 0, 0);
  transform: translate(-0.4rem, -0.4rem);
  border: dotted black 4px;
  text-shadow: 4px 3px 0px #6a6a6a;
}

.submit-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.input-field > small {
  display: flex;
  color: #ff0000;
  font-size: 1.3rem;

  margin: 0;
  padding-left: 2px;
}

.input-field > .submit-btn {
  margin-top: 2rem;
}
