/*! READY TO USE, waiting for routing*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'retro-gaming';
}

@font-face {
  font-family: 'retro-gaming';
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

.reg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url(/src/images/welcome_image.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.frame.reg {
  gap: 5px;
  min-width: 70rem;
  height: 70rem;
  min-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  background: rgba(236, 240, 243, 0.184);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 30px white;
  position: relative;
}

.frame > .bubble_speech_bg {
  background: url(/src/images/Speech_bubble_upside_down.png);
  background-repeat: no-repeat;
  height: 20rem;
  background-size: 90%;
  text-align: center;
  margin-left: 5rem;

  /* background-color: aqua; */
}

.brand-logo {
  position: absolute;
  right: -2rem;
  top: -5rem;

  height: 15rem;
  width: 15rem;
  background: url('/src/images/Kich_pixel.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
  border: dotted 5px black;
  background-color: #dfe9f3;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 0px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px;
}

.bubble_speech_bg > .title {
  font-size: 2.5rem;
  padding-left: 1.5rem;
  margin-top: 6.5rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form-input {
  text-align: left;

  /* background: #ecf0f3;
  padding-left: 20px;*/
  width: 50rem;
  height: 5rem;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.5rem 2rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

input.form-input {
  font-size: 2.5rem;
}

/*---------- Buttons --------*/

.submit-btn.reg {
  font-family: 'retro-gaming';
  font-size: 2rem;

  width: 20rem;
  height: 5rem;

  cursor: pointer;
  transition: 0.5s;

  font-size: 2rem;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.submit-btn.reg:last-child {
  margin: 0;
}

.submit-btn.reg:hover {
  font-size: 2.3rem;
  background: #dfe9f3;
  box-shadow: 0.4rem 0.4rem 0 rgb(255, 255, 255);
  transform: translate(-0.4rem, -0.4rem);
  border: dotted black 4px;
  text-shadow: 4px 3px 0px #fefefe;
}

.submit-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.input-field > small {
  display: flex;
  color: #ff0000;
  font-size: 1.3rem;

  margin: 0;
  padding-left: 2px;
}

.input-field > .submit-btn {
  margin-top: 2rem;
}
