:root {
  --bg-color: rgb(255, 255, 255);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
  --font-size: 2.4rem;
}

@font-face {
  font-family: 'retro-gaming';
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.todo {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.todo-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../images/todo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140rem;
  width: 100%;
  height: 100%;
}

.todo--bubble {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 14rem;
  width: 55rem;
  min-width: 50rem;
  background-image: url(../../images/login_bubble.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30rem;

  height: 40rem;
  width: 55rem;
}

.type_effect--todo {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

/* Animation typing text */
.type_effect--todo {
  font-family: retro-gaming, Courier, monospace;
  position: relative;

  font-size: var(--font-size);
  width: max-content;
  background: var(--bg-color);
}

.type_effect--todo::before,
.type_effect--todo::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type_effect--todo::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.type_effect--todo::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: rgba(0, 0, 0, 0.72);

  &:hover,
  &:focus {
    color: teal;
  }
}

.user-input {
  background-color: transparent;
  border: 0;
  border-bottom: 4px black dotted;

  width: 80%;
  padding-left: 1rem;

  font-family: 'retro-gaming';
  font-size: 3rem;
}

.user-input::placeholder {
  font-size: 2.5rem;
}

.setTasuku.submit-btn {
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 2rem;
}

.setTasuku.submit-btn:hover {
  font-size: 2.3rem;
  background: #8aa9df90;
  color: white;
  text-shadow: 4px 3px 0px #6a6a6a;
}
