/* :root { */
/* --width-size: 414px;
  --height-size: 896px;
} */
* {
  padding: 0;
  margin: 0;
}
.stage {
  background-image: url(/src/images/Kichis_room.png);
  /* background-size: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  /* padding-top: 30%; */
  /* padding-left: 12%; */
  /* padding-right: 12%; */
  /* width: var(--width-size);
  height: var(--height-size); */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Iphone Resolution */
/* height: 2532px 
width: 1170px */
